@use "global/" as g;

.c-categories {
  display: flex;
  flex-wrap: wrap;
  gap: g.rem(20) g.rem(16);
  min-width: g.rem(140);

  @include g.mq("md") {
    flex-wrap: nowrap;
    flex-direction: column;
  }
}
