@use "global/" as g;

.c-hamburger {
  width: 40px;
  height: 40px;
  border: 1px solid var(--c-sub-rgb-opacity60);
  padding: 12px 4px;

  @include g.mq("md") {
    display: none;
  }
}

.c-hamburger__container {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}

.c-hamburger__line {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: var(--c-sub);
  transition: transform 0.2s, opacity 0.2s;
}

.c-hamburger__line-top {
  top: 0;
}

.c-hamburger__line-mid {
  top: 0;
  bottom: 0;
  margin: auto;
}

.c-hamburger__line-bot {
  bottom: 0;
}

// hamburger開閉
.c-hamburger.is-active {
  .c-hamburger__line-top {
    transform: rotate(40deg);
    top: 50%;
  }

  .c-hamburger__line-mid {
    opacity: 0;
  }

  .c-hamburger__line-bot {
    transform: rotate(-40deg);
    top: 50%;
  }
}
