@use "global/" as g;

.p-products-item {
  display: block;
  width: 100%;
}

.p-products-item__title {
  font-size: g.rem(18);
  font-weight: var(--f-weight-bold);
  display: flex;
  align-items: center;
  gap: 0 g.rem(4);

  @include g.mq("md") {
    font-size: g.rem(20);
  }
}

.p-products-item__title::before {
  content: "";
  display: inline-block;
  width: g.rem(8);
  height: g.rem(8);
  background-color: var(--c-sub-rgb-opacity60);
  flex-shrink: 0;
}

.p-products-item__label {
  display: flex;
  align-items: center;
  gap: 0 g.rem(4);
  flex-wrap: wrap;
}

.p-products-item__category {
  display: inline-block;
  font-size: g.rem(16);
  flex-shrink: 0;
  align-self: baseline;
}

.p-products-item__category::after {
  content: "/";
  display: inline-block;
  margin: 0 g.rem(2);
}

.p-products-item__tag {
  display: inline-block;
  font-size: g.rem(14);
}

.p-products-item__tag:not(:last-child)::after {
  content: ",";
  display: inline-block;
}

.p-products-item__img {
  position: relative;
  width: min(100%, g.rem(640));
  margin-top: g.rem(16);
  box-shadow: 0 0 g.rem(15) g.rem(-8) var(--c-gray);
}

.p-products-item__img::before {
  content: "";
  display: block;
  padding-top: 61.3333%;

  @include g.mq("md") {
    padding-top: 61.5625%;
  }
}

.p-products-item__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.p-products-item__img._barnner::before {
  content: "";
  display: block;
  padding-top: 0;

  @include g.mq("md") {
    padding-top: 0;
  }
}

.p-products-item__img._barnner img {
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
