@use "global" as g;

.p-global-nav {
  display: none;

  @include g.mq("md") {
    display: block;
    margin-left: g.rem(40);
  }
}

.p-global-nav__area {
  display: flex;
}

.p-global-nav__list {
  margin-left: g.rem(16);
}

.p-global-nav__link {
  font-size: g.rem(16);
  font-weight: var(--f-weight-bold);
  color: var(--c-sub);
  padding: g.rem(12) g.rem(8);
  position: relative;
  line-height: 1;

  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    height: 2px;
    width: 0;
    background-color: var(--c-sub);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s, opacity 0.3s;
  }
}

.p-global-nav__link:hover,
.p-global-nav__link:focus {
  @include g.mq("md") {
    &::after {
      width: g.rem(32);
    }
  }
}
