@use "global/" as g;

.p-sub-nav__lists {
  display: inline-flex;
  flex-direction: column;
  @include g.mq("md") {
    flex-direction: row;
  }
}

.p-sub-nav__list {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.p-sub-nav__link {
  font-size: g.rem(16);
  line-height: 1;
  font-weight: var(--f-weight-bold);
  width: 100%;
  padding: g.rem(8) g.rem(16);
  margin-top: g.rem(4);

  @include g.mq("md") {
    margin-top: initial;
    margin-left: g.rem(16);
    padding: g.rem(12) g.rem(16);
  }
}
