@use "global/" as g;

.p-card-type01 {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 g.rem(15) g.rem(-8) var(--c-gray);
  max-width: g.rem(375);
  padding: g.rem(32) g.rem(40);

  @include g.mq("xl") {
    width: calc((100% - 40px) / 3);
    max-width: initial;
    padding: g.rem(20) g.rem(28);
  }
}

.p-card-type01__img {
  width: g.rem(80);
  position: relative;
  margin: 0 auto;

  &::after {
    content: "";
    display: block;
    padding-top: 100%;
  }
}

.p-card-type01__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  height: auto;
}

.p-card-type01__title {
  font-size: g.rem(20);
  font-weight: var(--f-weight-bold);
  line-height: 1.6;
  color: var(--c-sub);
  text-align: center;
  margin-top: g.rem(16);
}

.p-card-type01__title span {
  display: inline-block;
}

.c-card-type01__content {
  margin-top: g.rem(24);
}

.p-card-type01__body {
  text-align: center;
  width: 100%;
  color: var(--c-gray);
  font-weight: var(--f-weight-bold);
  border-bottom: 1px solid var(--c-accent);
  padding-bottom: g.rem(16);
}

.p-card-type01__heading {
  font-size: g.rem(16);
}

.p-card-type01__text {
  font-size: g.rem(16);
  font-weight: var(--f-weight-medium);
  color: var(--c-sub);
  margin-top: g.rem(16);

  @include g.mq("md") {
    margin-top: g.rem(16);
  }
}
